<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="description" content="WebRTC code samples">
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
  <meta itemprop="description" content="Client-side WebRTC code samples">
  <meta itemprop="name" content="WebRTC code samples">
  <meta name="mobile-web-app-capable" content="yes">
  <meta id="theme-color" name="theme-color" content="#ffffff">

  <base target="_blank">

  <title>PKI infrastructure test</title>

  <link rel="stylesheet" href="public/css/main.css">

</head>

<script>
/*
  // Check for the various File API support.
  if (window.File && window.FileReader && window.FileList) {
    // Great success! All the File APIs are supported.
  } else {
    alert('The File APIs are not fully supported in this browser.');
  }

  var serversocket = new WebSocket("ws://localhost:8080/echo");
 
  serversocket.onopen = function() {
      serversocket.send("Connection init");
  }
 
  // Write message on receive
  serversocket.onmessage = function(e) {
      //document.getElementById('comms').innerHTML += "Received: " + e.data + "<br>";
      if e.data == "reload" {
          window.location.reload(true);
      }
  };
 

  function handleFileSelect(evt) {
    var files = evt.target.UplFiles; // FileList object

    alert("I'm here")
    // files is a FileList of File objects. List some properties.
    var output = [];
    for (var i = 0, f; f = files[i]; i++) {
      output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                  f.size, ' bytes, last modified: ',
                  f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
                  '</li>');
    }
    document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
  }

  document.getElementById('UplFiles').addEventListener('change', handleFileSelect, false);
*/
</script>

<body>

<br><br>
<h2> List of receivers </h2>

<form enctype="multipart/form-data" name="ReceList" action="/eet-test" method="post" target="_self">
<table border="1">
<tr>
<th>Address</th>
<th>Name</th>
<th>Time of initiation</th>
<th>Total coins received</th>
<th>Balance (points - coins received)</th>
<th>AMOUNT</th>
</tr>
{{range $rec := .Receivers }}
<tr>
  <td><input type="hidden" name="Addr_{{ $rec.Index }}" value="{{ $rec.Addr }}">
    {{ $rec.Addr }}</td>
  <td>{{ $rec.Name }}</td>
  <td>{{ $rec.CreationStr }}</td>
  <td>{{ $rec.TotDonationStr }}</td>
  <td>{{ $rec.BalanceStr }}</td>
  <td><input type="number" name="Amount_{{ $rec.Index }}" > </td>
</tr>
{{end}}
</table>
  <input type="submit" name="DonateButton" value="Donate">
  {{ if .IsAdmin }}
  <input type="submit" name="AddPointsButton" value="Add points for future donations">
  {{ end }}
</form>
{{ if .IsAdmin }}
<form enctype="multipart/form-data" name="SenderListRequest" action="/eet-test" method="post" target="_self">
<input type="submit" name="SenderListButton" value="Show Administration Activities">
</form>
{{ end }}

</body>
</html>


