body {
  margin-left: 20%;
  margin-right: 20%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border-color:#CCCCCC;
  border-style:solid;
  border-width:thin;
  margin-top: 5px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px; font-size: 20px;
}

h2 {
  color: #AAA;
  font-size: 20px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}

table, td, th {
    border: 1px solid black;
    padding: 10px;
    text-align:center;

}

table {
    border-collapse: collapse;
    
}


th {
    height: 15px;
    background-color: #4CAF50;
    color: white;
    font-size: 13px;
    
}
tr{
  height: 25px;
    background-color: beige;
    color: green;
}
tr:hover {background-color: #f5f5f5}

mark {
    background-color: white;
    color:black;
}
div {width: 1000px; padding-bottom: 10px; }

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
     
    
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

.button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
    
}
.button4 {
    background-color: white; 
    color: black; 
    border: 2px solid grey;
}

.button4:hover {
    background-color:gray;
    color: white;
}

#registrationMsg{
	color:green;
}

#impacttexoutput{
	
	color:maroon;
}
